
  <h2> <%= @article.title %> </h2>


<div class="textDisplay">
  <p>
  <%= @article.text %>
  </p>
</div>

<%= link_to 'Back', articles_path, class:"button" %>
<td><%= link_to 'Edit', edit_article_path(@article), class:"button" %></td>
